

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #515dc2;
    color: #515dc2;
}

header {
    background-color: #50b3a2;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    background-color: Tomato;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}

header p {
    margin-top: 5px;
}
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 20px;
    overflow: hidden; /* Ensures content outside the box is hidden */
    flex-shrink: 0;   /* Prevents the image from shrinking */
}

.profile-picture img {
    display: block;      /* Ensures the image is a block-level element */
    width: 100%;       /* Ensures the image takes the full width of its container */
    height: 100%;      /* Ensures the image takes the full height of its container */
    object-fit: cover; /* Ensures the image covers the entire container without being stretched or squashed */
}

#about-me {
    flex: 1;
    min-width: 250px; /* Minimum width to ensure readability */
    padding-right: 20px;
    max-width: calc(100% - 170px); /* Ensures it doesn't extend beyond the profile picture */
}

.side-links {
    position: fixed;
    top: 3%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-links a i.fas {
    margin-left: 20px;
    font-size: 24px;  /* Adjust this value as per your needs */
    margin-right: 10px;  /* Optional: adds spacing between the icon and the text */
}


.side-links a {
    /* your existing styles */
    width: 40px; /* Adjust to fit the icon size */
    /* other styles... */
}

/* Additional styles for hiding and showing text */
.side-links a span {
    display: none;
}

.side-links a:hover span {
    display: inline;
}



section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

/* #education {
    /* Existing styles... }*/

.education-entry {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.school-logo {
    width: 50px; /* Adjust this value for desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 15px; /* Space between the logo and the text */
}

.education-entry h3, .education-entry p {
    margin: 5px 0;
}

.education-dates {
    font-style: italic;
    color: #666;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #50b3a2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
