/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #41548a;
    background-color: #c0c2ac;
}

/* Header styles */
header {
    background-color: #c0c2ac;
    text-align: center;
    padding: 1em 0;
}

/* Section base styles */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Align text to the left for these sections */
#about-me, #education, #experience, #projects {
    text-align: left;
}

/* Profile image styling */
.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

/* Profile container styling */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

/* Side navigation links styling */
.side-links {
    position: fixed;
    top: 3%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #b2b9cf;
}

.side-links a {
    width: 40px;
}

/* Project images styling */
.project-entry img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* School logo styling */
.school-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .profile-container, .education-entry, .experience-entry {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-picture {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }

    .school-logo {
        width: 30px; /* Smaller size on mobile */
    }
}
