
@media (max-width: 768px) {
    /*for uses to view from non laptop device*/
    .education-entry {
        flex-direction: column; /* Stack logo above the text on small screens */
        align-items: flex-start; /* Align items to the start of the container */
    }

    .school-logo {
        margin-bottom: 10px; /* Space between logo and text on small screens */
    }
    
    .profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 20px; 
        /* Adds spacing between the image and the text */
        /* padding-left: 20px;
        padding-right: 20px; */
    }
    
    .profile-picture {
        width: 200px;
        height: 200px;
        overflow: hidden;
        flex-shrink: 0;
        border-radius: 50%; /* Makes the image circular */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    }
    
    
    .side-links {
        position: static;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #41548a;
    background-color: #c0c2ac; /* Updated background color */
}

header {
    background-color: #c0c2ac;
    color: #41548a;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    background-color: #c0c2ac;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}

header p {
    margin-top: 5px;
}
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.profile-picture {
    width: 200px;
    height: 200px;
    /*border-radius: 50%;*/
    margin-right: 10px; /* Make sure there is space between the image and the text */
}

.profile-picture img {
    display: block;      /* Ensures the image is a block-level element */
    width: 100%;       /* Ensures the image takes the full width of its container */
    height: 100%;      /* Ensures the image takes the full height of its container */
    object-fit: cover; /* Ensures the image covers the entire container without being stretched or squashed */
}
/* 
#about-me {
    flex: 1;
    min-width: 250px; /* Minimum width to ensure readability */
    padding-right: 20px;
    max-width: calc(100% - 170px); /* Ensures it doesn't extend beyond the profile picture */
} */

/* Ensure that the direct children of both sections align properly */
/* #about-me > *, .education-entry > * {
    margin: 0; /* Reset margins */
} */

#about-me h2, #education h2, #experience h2{
    color: #2b395e; /* New color for titles */
    margin-bottom: 20px; /* Adjust as needed */

}
/*
#about-me, .education-entry {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px; /* Adjust if necessary to make sure both sections have the same width */
    /* padding:20px; */
/* } */

.side-links {
    position: fixed;
    top: 3%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #b2b9cf;
}

.side-links a i.fas {
    margin-left: 20px;
    font-size: 24px;  /* Adjust this value as per your needs */
    margin-right: 10px;  /* Optional: adds spacing between the icon and the text */
}


.side-links a {
    /* your existing styles */
    width: 40px; /* Adjust to fit the icon size */
    /* other styles... */
}

/* Additional styles for hiding and showing text */
.side-links a span {
    display: none;
}

.side-links a:hover span {
    display: inline;
}



section {
    padding: 20px;
    margin: 20px;
    background-color: #c0c2ac;
    border-radius: 5px;
}

#about-me, .education-entry {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px; /* This should be the same for both to align them */
}

/* Remove individual left and right margins from these elements */
.profile-picture, .education-details {
    margin-left: 0;
    margin-right: 0;
}


/* #education {
    /* Existing styles... }*/


.study-level {
    font-size: 1em; /* Adjust the size as needed */
    font-weight: bold; /* Makes it stand out */
    margin-bottom: 0.5em; /* Spacing between this and the university name */
}

.education-details {
    display: flex;
    flex-direction: column; /* Stack the text vertically */
}


.education-entry, #about-me, .experience-entry {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.school-logo {
    width: 50px; /* Adjust this value for desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 15px; /* Space between the logo and the text */
    padding: 5px; /* Add padding around the logo */
}

.education-dates {
    font-style: italic;
    color: #666;
    margin-top: 0.25em; /* Small space above to separate from the university name */
}

.experience-dates {
    font-style: italic;
    color: #666;
    margin-top: 0.25em; /* Small space above to separate from the university name */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #50b3a2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
